
h2 {
    text-align: center;

}

.cla67{
    margin: auto;
    width: 1000px;
    height: 825px;
    border: 3px solid black;
    padding: 10px;
    background-color: white;
    border-radius: 8px;



}

form {
    background-color: rgb(18, 21, 223);
    padding: 20px;
    width: 1400px;
    height: 850px;
    margin: auto;
}

table {
    border-collapse: collapse;
    padding: auto;
    width:140px;
    margin: auto;

}

th {
    background-color: rgb(60, 60, 252);
}
.cla234{
    text-align: center;
    color: rgb(243, 13, 44);
    background-color: black;
    width: 100%;
    
}
